.FontSearch {
  padding: 20px;
  background-color: #ff5252;

  input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 1.3rem;
    border: none;
    background-color: #fff;
  }
}
